.blog_table{
    border:2px black solid !important;
}

.blog_table_header{
    background:blue;
    color:white;
    border-bottom:2px black double !important;
}

.blog_table_tr{
    background:#FFFFCC;
    color:black;
    border-bottom:1px black dashed !important;
}
.blog_table_td{
    border-right:1px black solid !important;
}